@media (max-width: 500px) {
    .imagem {
        padding: 5%;
        width: 90%;
    }

    .radio {
        height: 2.5rem;
        position: relative;
        width: 2.5rem;
    }
}

@media (min-width: 500px) and (max-width: 1200px) {
    .imagem {
        width: 65%;
    }
}